html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    font-weight: 300;
}

h1 { 
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 { 
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  color: #585F64;
}

a {
    text-decoration: none;
    color: #80CDE7;
}

a:hover {
    color: #80CDE7;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    text-align: center;
    max-width: 750px;
    padding: 32px;
    line-height: 1.6em;
}

.avatar {
    border-radius: 50%;
    width: 150px;
}

.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 320px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: #CED6DB;
}

.icons a:hover {
    color: #585F64;
}
